body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}
img {
    width: 150px;  /* 画像の幅を150pxにする（好みで変更可） */
    height: 150px;
    border-radius: 50%;  /* 画像を丸くする */
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 軽く影をつける */
}


section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}


